dl.cfg
.ipynb_checkpoints
.venv
.env.*
default-*-*-*-*-*.ipynb
__pycache__
sparkconf.cfg

dist
build
*.egg-info

node_modules
.cache
public
package-lock.json

**/gatsby-transformer-python-docstring/src/antlr/*
!**/gatsby-transformer-python-docstring/src/antlr/*.g4
**/gatsby-transformer-python-docstring/listeners
**/gatsby-transformer-python-docstring/gatsby-node*
!**/gatsby-transformer-python-docstring/dist
**/gatsby-transformer-python-docstring/dist/*
!**/gatsby-transformer-python-docstring/dist/package.json